<ul class="dropdown-menu dropdown-menu-right animated bounceInDown" aria-labelledby="dropdown-notification">
  <h6 class="dropdown-header">Notificaciones</h6>
  <li class="dropdown-item"><a href="{{url}}app/admin/averias">Averias</a></li>
  <li class="dropdown-item"><a href="{{url}}app/admin/informes">Instalaciones</a></li>
  <li class="dropdown-item"><a href="{{url}}app/admin/informes">Deudores
    {% if (notifications > 0) %}
      <span class="badge">{{notifications}}</span>
    {% endif %}</a></li>
  <li> <a class="text-center" href="{{url}}app/admin/informes"> <strong> Todas </strong> <i class="fa fa-angle-right"></i> </a></li>
</ul>
