<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8"/>
  <link rel="manifest" href="{{url}}manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="application-name" content="ICP">
  <meta name="apple-mobile-web-app-title" content="ICP">
  <meta name="theme-color" content="#1FA1D0">
  <meta name="msapplication-navbutton-color" content="#1FA1D0">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="msapplication-starturl" content="/app/admin/home">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" sizes="96x96" href="{{url}}favicon-96x96.png">
  <link rel="apple-touch-icon" type="image/png" sizes="96x96" href="{{url}}favicon-96x96.png">

  <title>.:: IC Payment | {{title}} ::.</title>
  {% for style in css%}
	  <link rel="stylesheet" href="{{style.link}}"/>
  {% endfor %}
	<link rel="icon" type="image/png" sizes="96x96" href="{{url}}favicon-96x96.png">
  <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
  <script>
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function() {
      OneSignal.init({
        appId: "bc29004d-d59c-4295-ad91-60ca6d29a09a",
      });
    });
  </script>
</head>
<body>
  <main id="app">
	  <div class="loader"><span class="load"></span></div>
    <header class="loading">
      <div class="header-low">
        <div class="brand">
          <a href="#" @click.prevent="toggleMenu">
              <i class="material-icons brand__menu">menu</i>
          </a>
          <a href="{{url}}app/admin">
            <h3>IC<span>Payment</span></h3>
          </a>
        </div>

        <nav class="top-nav">
          <li class="navButton hidden-xs"><a href="{{url}}app/admin">Lobby</a></li>
          <li class="navButton hidden-xs"><a class="{% if (title == 'clientes')  %} active {% endif %}" href="{{url}}app/admin/clientes">Clientes</a></li>
          <li class="navButton hidden-xs"><a class="{% if (title == 'servicios') %} active {% endif %}" href="{{url}}app/admin/servicios">Servicios</a></li>
          <li class="navButton hidden-xs"><a class="{% if (title == 'contratos') %} active {% endif %}" href="{{url}}app/admin/contratos">Contratos</a>
            <ul class="submenu">
              <li class="navButton hidden-xs"><a class="{% if (title == 'extras') %} active {% endif %}" href="{{url}}app/admin/extras">Extras</a></li>
            </ul>
          </li>

          {% if user.type == 0 %}
          <li class="navButton hidden-xs"><a class="{% if (title == 'secciones') %} active {% endif %}" href="{{url}}app/admin/secciones">Secciones</a></li>
          <li class="navButton hidden-xs"><a class="{% if (title == 'reportes') %}  active {% endif %}" href="{{url}}app/admin/reportes">Reportes</a>
            <ul class="submenu">
              <li class="navButton hidden-xs"><a class="{% if (title == 'reportes') %} active {% endif %}" href="{{url}}app/admin/reportes">Graficos</a></li>
              <li class="navButton hidden-xs"><a class="{% if (title == 'informes') %} active {% endif %}" href="{{url}}app/admin/informes">Informes</a></li>
            </ul>
          </li>
          {% endif %}
        </nav>

        <div class="user-div ">
          <nav class="user-controls">
            <li class="navButton">
              <a href="#" data-toggle="modal" data-target="#app-petty-cash-modal" title="Caja Chica" @click.prevent="openPettyCash('retire')">
              <i class="material-icons">inbox</i>
            </a></li>
            <li class="navButton">
              <a href="" data-toggle="modal" data-target="#app-ticket-modal" data-placement="bottom" title="Averias">
              <i class="material-icons">assignment</i>
            </a></li>
            <li class="navButton">
              <a href="" data-toggle="modal" data-target="#app-message-modal" data-placement="bottom" title="Mensajes">
              <i class="material-icons">perm_phone_msg</i>
            </a></li>
             <li class="navButton dropdown">
                <a href="{{url}}app/admin/averias" id="dropdown-notification" title="notificaciones" class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                </a>
                {% if (notifications > 0) %}
                  <span class="badge">{{notifications}}</span>
                {% endif %}
            {{ include('layouts/dropdown_notification.twig') }}
            </li>
          </nav>
          <div class="dropdown mymenu">
            <a id="dLabel" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="user-name hidden-xs">{{user.name}}</span>
              <div class="profile-picture">
                <span>{{ user.name[:1] }}{{ user.lastname[:1] }}</span>
              </div>
              <span class="caret"></span>
            </a>
          {{ include('layouts/dropdown_user.twig') }}
          </div>
        </div>
      </div>
    </header>
    <app-header></app-header>
